/workspace/BemVindo/nbproject/private/
/workspace/BemVindo/build/
/workspace/BemVindo/dist/
/workspace/RetornoPrint/nbproject/private/
/workspace/RetornoPrint/build/
/workspace/PegandoInformacoesTeclado/nbproject/private/
/workspace/PegandoInformacoesTeclado/build/
/workspace/CalculadoraMedia/nbproject/private/
/workspace/CalculadoraMedia/build/
/workspace/Tabuada/nbproject/private/
/workspace/Tabuada/build/
/workspace/TabuadaTotal/nbproject/private/
/workspace/TabuadaTotal/build/
